<header>
    <div class="container">
        <div class="col-md-4 text-center">
            <h1>#AcaSeDona</h1>

            <table class="table table-responsive">
                <tr>
                    <td>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.AcaSeDona.com.ar/" data-text="¡Armemos un mapa que muestre todos los lugares que reciben ayuda para los inundados! Colaborá en" data-lang="es" data-related="AcaSeDona" data-hashtags="AcaSeDona">Twittear</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </td>
                    <td>
                        <div class="fb-share-button" data-href="http://www.acasedona.com.ar/" data-layout="button_count"></div>
                    </td>
                    <td>
                        <a class="github-button" href="https://github.com/AcaSeDona/AcaSeDona/fork" data-icon="octicon-git-branch" data-count-href="/AcaSeDona/AcaSeDona/network" data-count-api="/repos/AcaSeDona/AcaSeDona#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork AcaSeDona/AcaSeDona on GitHub" style="margin-left: 20px; margin-bottom: -10px;">Fork</a>
                        <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <p class="text hidden-xs hidden-sm">Armemos un mapa que muestre todos los lugares que reciben ayuda para los inundados.</p>
            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control search-places hidden-xs hidden-sm" type="search" data-provide="typeahead" autocomplete="off" placeholder="Buscar centro de donación">
                    <input class="form-control search-places hidden-md hidden-lg" type="search" data-provide="typeahead" autocomplete="off" placeholder="Buscar centro">
                </div>
                <div class="col-xs-6">
                    <button class="form-control btn btn-danger show-form hidden-xs hidden-sm">Agregá un centro de donación</button>
                    <button class="form-control btn btn-danger show-form hidden-md hidden-lg">Agregar centro</button>
                </div>
            </div>
        </div>
    </div>
</header>
